<!DOCTYPE html>
<html>
<head>
  <title>Pictastic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    (function() {
      window.PA_SITE_ID = 8295163198131;
      var u='//api.pleasant.io/';
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'pleasant.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
